
@{
    ViewBag.Title = "Review";
}

<div class="nav-bar">
    <h1 class="page-title">Review</h1>
</div>
<div class="page-content">
    <div class="container mb-3 mt-3">
        <form>
            <label class="form-label">Conteúdo</label>
            <input class="form-elements-specs" name="group-name" id="group" type="text" />

            <label class="form-label">Relevância</label>
            <input class="form-elements-specs" name="group-name" id="group" type="text" />

            <label class="form-label">Projeto de Pesquisa</label>
            <input class="form-elements-specs" name="group-name" id="group" type="text" />

            <label class="form-label">Relatório de Pesquisa</label>
            <input class="form-elements-specs" name="group-name" id="group" type="text" />

            <label class="form-label">Memorial Individual</label>
            <input class="form-elements-specs" name="group-name" id="group" type="text" />

            <label class="form-label">De Acordo Com a Norma</label>
            <input class="form-elements-specs" name="group-name" id="group" type="text" />

            <label class="form-label">Adicionar Comentário</label>
            <textarea class="form-elements-specs form-text-area"></textarea>

            <button class="form-confirm">Confimar</button>
            <button class="form-cancel">Cancel</button>
            <div class="form-space"></div>
        </form>
    </div>
</div>


