
@{
    ViewBag.Title = "Submissão";
}
<div class="nav-bar">
    <h1 class="page-title">Submeter Trabalho</h1>
</div>
<div class="page-content">
    <div class="container mb-3 mt-3">
        <form>
            <label class="form-label">Grupo</label>
            <select class="form-elements-specs" id="PgtGroup">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <input class="inputfile" name="file" id="file" type="file"/>
            <label class="form-label form-file-send" for="file">Arquivo</label>
            <label class="form-label">Anotações</label>
            <textarea class="form-elements-specs form-text-area" id="Notes"></textarea>
            <label class="form-label">Etapa</label>
            <select class="form-elements-specs">
                <option>Qualificação</option>
                <option>Defesa</option>
            </select>
            <button class="form-confirm">Confimar</button>
            <button class="form-cancel">Cancel</button>
            <div class="form-space"></div>
        </form>
    </div>
</div>

