
@{
    ViewBag.Title = "Cadastro de Usuário";
}
<div class="nav-bar">
    <h1 class="page-title">Cadastro - Usuário</h1>
</div>
<div class="page-content">
    <div class="container mb-3 mt-3">
        <form>
            <label class="form-label">Nome Completo</label>
            <input class="form-elements-specs" name="group-name" id="UserName" type="text" />
            <label class="form-label">Registro</label>
            <input class="form-elements-specs" name="group-name" id="UserRegister" type="text" />
            <label class="form-label">Tipo de Usuário</label>
            <select class="form-elements-specs" id="UserType">
                <option>Orientador</option>
                <option>Professor</option>
                <option>Estudante</option>
            </select>
            <label class="form-label">Campus</label>
            <select class="select2_user" id="sel_user" style="width: 100%; text-transform:uppercase">
            </select>
            <label class="form-label">Email</label>
            <input class="form-elements-specs" name="group-name" id="UserEmail" type="text" />
            <label class="form-label">Senha</label>
            <input class="form-elements-specs" name="group-name" id="UserPassword" type="text" />
            <button class="form-confirm" id="ConfirmUser">Confimar</button>
            <button class="form-cancel">Cancel</button>
            <div class="form-space"></div>
        </form>
    </div>
</div>
<script>
    $.ajax({
        url: 'user/get'
    }).done(function (data) {
        var mapdata = $.map(data, function (obj) {
            return { id: obj.userID, text: obj.name };
        });

        if ($(".select2_user").val() == null) {

            $(".select2_user").select2({
                data: mapdata,
                width: 'resolve',
                allowClear: true
            });
        } else {
            $(".select2_user").select2('destroy').empty().select2({ data: mapdata });
        }
    });
</script>

