
@{
    ViewBag.Title = "Cadastro de Grupo";
}
<div class="nav-bar">
    <h1 class="page-title">Cadastro - Grupo</h1>
</div>
<div class="page-content">
    <div class="container mb-3 mt-3">
        <form id="form">
            <label class="form-label">Nome do Grupo</label>
            <input class="form-elements-specs" id="group" type="text" />
            <label class="form-label">Campus</label>
            <select class="form-elements-specs select2_campus" id="campus">
            </select>
            <label class="form-label">Curso</label>
            <select class="form-elements-specs" id="course">
                <option value="adm">Administração</option>
                <option value="ciso">Ciências Sociais e do Consumo</option>
                <option value="cine">Cinema e Audiovisual</option>
                <option value="design">Design</option>
                <option value="jorn">Jornalismo</option>
                <option value="pp">Publicidade e Propaganda</option>
                <option value="ri">Relações Internacionais</option>
                <option value="tech">TECH</option>
            </select>
            <!--<label class="form-label">Alunos</label>
            <select class="students form-elements-specs select2_student">
            </select>
            <label class="form-label">Orientador</label>
            <select class="coords form-elements-specs select2_coord">
            </select>
            <label class="form-label">Parecerista 1</label>
            <select class="reviewers_1 form-elements-specs select2_peer_reviewer">
            </select>
            <label class="form-label">Parecerista 2</label>
            <select class="reviewers_2 form-elements-specs select2_peer_reviewer">
            </select>-->
            <button class="form-confirm" type="submit">Confimar</button>
            <button class="form-cancel">Cancel</button>
            <div class="form-space"></div>
        </form>
    </div>
</div>

<script>
    $.ajax({
        url: 'campus/getAll'
    }).done(function (data) {
        var mapdata = $.map(data, function (obj) {
            return { id: obj.campusID, text: obj.campusName };
        });

        if ($(".select2_campus").val() == null) {

            $(".select2_campus").select2({
                data: mapdata,
                width: 'resolve',
                allowClear: true
            });

            $(".select2_campus").select2('destroy');
        } else {
            $(".select2_campus").select2('destroy').empty().select2({ data: mapdata });
        }
    });
    /*
    $.ajax({
        url: 'student/getAll'
    }).done(function (data) {
        var mapdata = $.map(data, function (obj) {
            return { id: obj.studentID, text: obj.studentName };
        });

        if ($(".select2_student").val() == null) {

            $(".select2_student").select2({
                data: mapdata,
                width: 'resolve',
                allowClear: true
            });

            $(".select2_student").select2('destroy');
        } else {
            $(".select2_student").select2('destroy').empty().select2({ data: mapdata });
        }
    });

    $.ajax({
        url: 'user/getAll'
    }).done(function (data) {
        var mapdata = $.map(data, function (obj) {
            if (obj.userTypeID == 1) {
                return { id: obj.userID, text: obj.userName };
            }
        });

        if ($(".select2_coord").val() == null) {

            $(".select2_coord").select2({
                data: mapdata,
                width: 'resolve',
                allowClear: true
            });

            $(".select2_coord").select2('destroy');
        } else {
            $(".select2_coord").select2('destroy').empty().select2({ data: mapdata });
        }
    });

    $.ajax({
        url: 'user/getAll'
    }).done(function (data) {
        var mapdata = $.map(data, function (obj) {
            if (obj.userTypeID == 2) {
                return { id: obj.userID, text: obj.userName };
            }
        });

        if ($(".select2_peer_reviewer").val() == null) {

            $(".select2_peer_reviewer").select2({
                data: mapdata,
                width: 'resolve',
                allowClear: true
            });

            $(".select2_peer_reviewer").select2('destroy');
        } else {
            $(".select2_peer_reviewer").select2('destroy').empty().select2({ data: mapdata });
        }
        });*/

    document.getElementById('form').onsubmit = (e) => {
        group_name = String(document.getElementById('group').value);
        group_course = String(document.getElementById('course').value);
        campus_id = parseInt(document.getElementById('campus').value);

        var jaysom = new Object();

        jaysom.GroupName = group_name;
        jaysom.GroupCourse = group_course;
        jaysom.CampusID = campus_id;

        $.ajax({
            url: 'group/create',
            type: "POST",
            contentType: "application/json",
            processData: false,
            data: JSON.stringify(jaysom),
            cache: false,
            success: (data) => {
                alert('Cadastrado com sucesso!')
            },
            error: (request, status, error) => {
                alert('Um erro ocorreu durante o cadastro!');
            }
        });
        return false;
    };
</script>