
@{
    ViewBag.Title = "Cadastro de Grupo";
}
<div class="nav-bar">
    <h1 class="page-title">Cadastro - Grupo</h1>
</div>
<div class="page-content">
    <div class="container mb-3 mt-3">
        <form>
            <label class="form-label">Nome do Grupo</label>
            <input class="form-elements-specs" name="group-name" id="group" type="text" />
            <label class="form-label">Curso</label>
            <select class="form-elements-specs">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <label class="form-label">Campus</label>
            <select class="form-elements-specs">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <label class="form-label">Alunos</label>
            <select class="form-elements-specs">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <label class="form-label">Orientador</label>
            <select class="form-elements-specs">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <label class="form-label">Parecerista 1</label>
            <select class="form-elements-specs">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <label class="form-label">Parecerista 2</label>
            <select class="form-elements-specs">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <button class="form-confirm">Confimar</button>
            <button class="form-cancel">Cancel</button>
            <div class="form-space"></div>
        </form>
    </div>
</div>

