
@{
    ViewBag.Title = "Relatórios";
}

<div class="nav-bar">
    <h1 class="page-title">Relatórios</h1>
</div>
<div class="page-content">
    <div class="container mb-3 mt-3">
        <div class="content-box">
            <h4 class="text-center">TCCs - Visão Geral</h4>
            <hr />
            <div class="flex-container">
                <div class="flex-container-box-3">
                    <h6>Total de TCCs</h6>
                    <h4 class="font-weight-bold">340</h4>
                </div>
                <div class="flex-container-box-3">
                    <h6>TCCs em andamento</h6>
                    <h4 class="font-weight-bold">100</h4>
                </div>
                <div class="flex-container-box-3">
                    <h6>TCCs concluídos</h6>
                    <h4 class="font-weight-bold">250</h4>
                </div>
            </div>
        </div>
        <div class="content-box">
            <h4 class="text-center">Gráficos</h4>
            <hr />
            <div class="flex-container">
                <div class="flex-container-box-2">
                    <h6>Média de notas</h6>
                </div>
                <div class="flex-container-box-2">
                    <h6>Índice de Aprovações</h6>
                </div>
            </div>
        </div>
    </div>
</div>

