@{
    ViewBag.Title = "Home Page";
}

<div class="nav-bar">
    <h1 class="page-title">Home</h1>
</div>
<div class="page-content">
    <div class="container mb-3 mt-3">
        <h2>Mural de Avisos</h2>
        <div class="content-box">
            <h3 class="news-title">Lorem ipsum</h3>
            <p class="news-date">23/02/1990</p>
            <p class="news-info">fbafsklbsafkblavsbkjçavsçkjvsabjovsabuvsaBUSAvobusav</p>
        </div>
    </div>
</div>